@import '../../app/styles/vars';

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 23px;
    background: rgb(34, 34, 36);

    h5 {
        color: rgb(251, 251, 251);
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
    }

    &_contacts {
        display: flex;
        gap: 8px;

        button {
            width: 32px;
            height: 32px;
            border: none;
            cursor: pointer;
            background: rgb(255, 255, 255);

            &:hover {
                background: $colorHighlight;
                animation: animating-contact_links .3s;

                svg {
                    fill: rgb(255, 255, 255);
                    animation: animating-contact_links .3s;
                }

            }
        }
    }
}

@media (min-width: 375px) and (max-width: 767px), (pointer: coarse) and (max-width: 767px)  {
    .footer {
        flex-direction: column-reverse;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;

        &_contacts {
            gap: 7.29px;
        }
    }
}