@import '../../../app/styles/vars';

.cart-products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 96px;
    padding-bottom: 128px;

    &__leftPart {
        width: 652px;
    }

    &__productCards {
        @include columnFlex();
        gap: 40px;
    }

    &__buttons {
        padding-top: 72px;
        display: flex;
        justify-content: space-between;

        &_btn {
            cursor: pointer;
            background: rgb(255, 255, 255);
            border: 1px solid rgb(164, 164, 164);
            color: rgb(74, 74, 74);
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            width: 225px;
            height: 50px;
            text-align: center;

            &:hover {
                background: $colorHighlight;
                color: rgb(255, 255, 255);
                border: none;
                animation: animating-buttons .3s;
            }
        }
    }

    &__rightPart {
        width: 360px;
        @include columnFlex();
        gap: 58px;
    }

    &__basket_empty {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            color: $colorHighlight;
        }

        &__text {
            color: rgb(74, 74, 74);
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            padding-bottom: 10px;
        }

        &__btn {
            cursor: pointer;
            display: flex;
            background: rgb(255, 255, 255);
            border: 1px solid rgb(164, 164, 164);
            color: rgb(74, 74, 74);
            font-size: 14px;
            line-height: 17px;
            width: 225px;
            height: 50px;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;


            &:hover {
                background: $colorHighlight;
                color: rgb(255, 255, 255);
                border: none;
                animation: animating-buttons .3s;
            }
        }

    }
}

.cart-box {
    display: flex;
    box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);

    &__image {
        width: 262px;
        height: 306px;
    }

    &__discription {
        padding-top: 42px;
        @include columnFlex();
        gap: 6px;

        &__item {
            color: rgb(87, 87, 87);
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;

            &_select {
                color: rgb(111, 110, 110);
            }

            &_selectRed {
                color: $colorHighlight;
            }

            &_input {
                border: 1px solid rgb(234, 234, 234);
                width: 44px;
                height: 24.95px;
                text-align: center;
                color: rgb(101, 101, 101);
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
            }
        }
    }

    &__content {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        padding-left: 31px;
        padding-top: 22px;

        &_link {
            display: block;
            max-width: 206px;
            color: rgb(34, 34, 34);
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;

            &:hover {
                color: $colorHighlight;
                animation: animating-links .3s;
            }
        }

        &_cancel {
            cursor: pointer;
            border: none;
            background: none;
            position: absolute;
            top: 28px;
            right: 20px;
        }

        &_cancel:hover {
            svg path {
                fill: $colorHighlight;
            }
        }
    }
}

.shipping-address {

    &__title {
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        padding-bottom: 20px;
    }

    &__content {
        @include columnFlex();
        gap: 20px;
    }

    &__input {
        font-family: 'Lato';
        font-style: normal;
        color: rgb(34, 34, 34);
        box-sizing: border-box;
        border: 1px solid rgb(164, 164, 164);
        width: 360px;
        height: 45px;
        padding-left: 16px;
        padding-right: 16px;
        outline: none;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;

        &placeholder {
            color: rgb(177, 177, 177);
        }
    }

    &__btn {
        cursor: pointer;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        color: rgb(74, 74, 74);
        width: 101.41px;
        height: 35px;
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;

        &:hover {
            background: $colorHighlight;
            color: rgb(255, 255, 255);
            border: none;
            animation: animating-buttons .3s;
        }
    }


}

.shipping-total {
    width: 360px;
    height: 214px;
    background: rgb(245, 243, 243);
    @include columnFlex();
    align-items: center;
    gap: 17px;

    &__line {
        width: 275px;
        border-bottom: 1px solid rgb(226, 226, 226);
        @include columnFlex();
        align-items: flex-end;
        gap: 12px;
        padding-top: 39px;
        padding-bottom: 21px;
    }

    &__sub {
        color: rgb(74, 74, 74);
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        display: flex;
        gap: 12px;
    }

    &__grand {
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        display: flex;
        gap: 12px;

        &_select {
            color: rgb(241, 109, 127);
        }
    }

    &__btn {
        cursor: pointer;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        color: rgb(74, 74, 74);
        width: 273px;
        height: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        text-align: center;
    }

    &__btn:hover {
        background: $colorHighlight;
        color: rgb(255, 255, 255);
        border: none;
        animation: animating-buttons .3s;
    }
}

@media (min-width: 768px) and (max-width: 1024px), (pointer: coarse){

    .cart-products {
        flex-direction: column;
        align-items: center;
        padding-top: 59px;
        gap: 64px;

        &__leftPart {
            width: 734px;
        }

        &__buttons {
            padding-top: 62px;
            justify-content: center;
            gap: 48px;
        }

        &__rightPart {
            flex-direction: row;
            gap: 15px;
            justify-content: space-between;
            align-items: center;
            width: auto;
        }
    }
}

@media (min-width: 375px) and (max-width: 767px)  {

    .cart-products {
        flex-direction: column;
        align-items: center;
        padding-top: 39px;
        padding-bottom: 96px;
        gap: 48px;

        &__productCards {
            gap: 32px;
        }

        &__leftPart {
            width: 358px;
        }

        &__buttons {
            padding-top: 30px;

            &_btn {
                width: 175px;
                height: 33px;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: rgb(87, 87, 87);
            }
        }

        &__rightPart {
            gap: 48px;
        }
    }

    .cart-box {
        &__image {
            width: 143.86px;
            height: 188px;
        }

        &__content {
            padding-left: 17px;
            padding-top: 13px;

            &_link {
                max-width: 140px;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }

            &_cancel {
                top: 17px;
                right: 12px;

                svg {
                    width: 10px;
                    height: 10px;
                }
            }
        }

        &__discription {
            padding-top: 13px;
            gap: 4px;

            &__item {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;

                &_input {
                    width: 24.16px;
                    height: 15.33px;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 12px;
                }
            }
        }
    }
}