@import '../../../app/styles/vars';

.registration-form {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 96px;

    &__leftPart {
        width: 360px;
    }

    &__conteiner {}

    &__title {
        color: rgb(34, 34, 34);
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        padding-bottom: 20px;
    }

    &__input {
        @include columnFlex();
        gap: 20px;
    }

    &__field {
        font-family: 'Lato';
        font-style: normal;
        color: rgb(34, 34, 34);
        box-sizing: border-box;
        border: 1px solid rgb(164, 164, 164);
        height: 45px;
        padding-left: 16px;
        padding-right: 16px;
        outline: none;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;

        &placeholder {
            color: rgb(177, 177, 177);
        }
    }

    &__radioInput {
        padding-top: 31px;
        padding-bottom: 33px;
        display: flex;
        align-items: center;

        &_radio {
            box-sizing: border-box;
            border: 1px solid rgb(164, 164, 164);
        }

        &_label {
            padding-left: 10px;
            padding-right: 20px;
            color: rgb(0, 0, 0);
            font-size: 11px;
            font-weight: 300;
            line-height: 13px;
        }
    }

    &__text {
        color: rgb(177, 177, 177);
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        padding-top: 15px;
        padding-bottom: 39px;
    }

    &__button {
        cursor: pointer;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        color: rgb(74, 74, 74);
        width: 167px;
        height: 50px;
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
        @include centerFlex();
        gap: 20px;

        &:hover {
            background: $colorHighlight;
            color: rgb(255, 255, 255);
            border: none;
            animation: animating-buttons .3s;

            svg path {
                fill: #FFFFFF;
            }
        }
    }

    &__rightPart {
        width: 652px;
    }

    &__content {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;

        &_title {
            padding-bottom: 22px;
        }

        &_text {
            padding-bottom: 21px;
        }

        &_list {
            ul {
                list-style-type: none;
                @include columnFlex();
                gap: 16px;
            }

            li {
                display: flex;
                align-items: center;
                gap: 22px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px), (hover: hover) and (pointer: fine) {
    .registration-form {
        padding-top: 40px;

        &__rightPart {
            width: 354px;
        }

        &__content {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
        }

        &_title {
            padding-bottom: 32px;
        }

        &_text {
            padding-bottom: 22px;
        }
    }

}

@media (min-width: 375px) and (max-width: 767px),
(pointer: coarse)  {
    .registration-form {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 100px;
        gap: 40px;

        &__rightPart {
            width: 358px;
        }

        &__content {
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
        }

        &_text {
            padding-bottom: 22px;
        }

    }
}