@import '../../../app/styles/vars';

@keyframes animating-buttons {
    from {
        color: $colorHighlight;
        border: 1px solid $colorHighlight;
        background: none;
        fill: $colorHighlight;
    }

    to {
        background: $colorHighlight;
        color: rgb(255, 255, 255);
        fill: rgb(255, 255, 255);
    }
}

.product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1px;
}

.product-box {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 776;
    height: 777px;
    background: rgb(247, 247, 247);
    box-sizing: border-box;
    border: 1px solid rgb(234, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        border: none;
        cursor: pointer;

        &:hover path {
            fill: rgb(241, 109, 127);
        }
    }
}

.product-content {
    grid-column-start: 1;
    grid-row-start: 712;
    grid-row-end: 1316;
    margin-left: calc(50% - $widthConteiner / 2);
    margin-right: calc(50% - $widthConteiner / 2);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(234, 234, 234);
    @include centerFlex();
    flex-direction: column;

    &__box {
        font-weight: 300;
        @include columnFlex();
        align-items: center;
        max-width: 642px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(234, 234, 234);

        &__chapter {
            color: $colorHighlight;
            font-size: 14px;
            line-height: 17px;
            padding-top: 65px;
            padding-bottom: 12px;
        }

        &__line {
            width: 63px;
            height: 3.03px;
            background: rgb(239, 91, 112);
        }

        &__name {
            color: rgb(77, 77, 77);
            font-size: 18px;
            line-height: 22px;
            padding-top: 12px;
            padding-bottom: 48px;
        }

        &__text {
            color: rgb(94, 94, 94);
            font-size: 14px;
            line-height: 17px;
            padding-bottom: 32px;
            text-align: center;
            max-width: 555px;
        }

        &__price {
            color: rgb(239, 91, 112);
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0%;
            padding-bottom: 65px;
        }
    }

    &__choice {
        padding-top: 65px;
        display: flex;
        align-items: center;
        gap: 23px;
    }

    &__btn {
        padding-top: 48px;
        padding-bottom: 65px;

        &_btn {
            @include centerFlex();
            gap: 11px;
            cursor: pointer;
            border: 1px solid $colorHighlight;
            background: none;
            width: 212px;
            height: 48px;
            color: $colorHighlight;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;

            &:hover {
                background: $colorHighlight;
                color: rgb(255, 255, 255);
                animation: animating-buttons .3s;

                svg path {
                    fill: rgb(255, 255, 255);
                    animation: animating-buttons .3s;
                }
            }
        }
    }
}

.choice-box {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    &__item {
        display: flex;
        align-items: center;
        gap: 9px;
        color: rgb(111, 110, 110);
    }

    &__item:hover {
        color: $colorHighlight;
        animation: animating-summary .3s;


        svg path {
            fill: $colorHighlight;
            animation: animating-summary .3s;
        }
    }

    &__box {
        color: rgb(111, 110, 110);
        width: 79px;
        height: 103px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        padding-left: 9px;
        @include columnFlex();
        justify-content: space-evenly;
        position: absolute;
        top: 22px;

        &_item {
            cursor: pointer;
            display: flex;
            gap: 10px;
            line-height: 16px;
        }

        &_item:hover {
            color: $colorHighlight;
        }

    }
}

[data-variant="product"] {
    padding-top: 128px;
    padding-bottom: 128px;
}

@media (min-width: 768px) and (max-width: 1024px), (pointer: coarse) and (min-width: 1024px){
    .conteiner {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .product {
        display: block;
    }

    .product-box {
        height: 624px;

        img {
            width: 466px;
            height: 565px;
        }
    }

    .product-content {
        margin-left: auto;
        margin-right: auto;
    }

    .hiden {
        display: none;
    }

}

@media (min-width: 375px) and (max-width: 767px) and (pointer: coarse)  {

    .hiden {
        display: none;
    }

    .product {
        display: block;
    }

    .product-box {
        max-height: 624px;

        img {
            width: 374px;
            height: 454px;
        }
    }

    .product-content {
        margin-left: auto;
        margin-right: auto;

        &__box {
            &__name {
                padding-bottom: 32px;
            }

            &__price {
                padding-bottom: 32px;
            }
        }

        &__choice {
            padding-top: 49px;
            gap: 25px;
        }

        &__btn {
            padding-top: 64px;
        }
    }

    .choice-box {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .products {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}



@media (max-width: 445px) {
    .product-box {
        max-height: 416px;

        img {
            width: 249px;
            height: 302px;
        }
    }
}